# Pandas

### Python Data Analysis Library

Digunakan untuk kebutuhan:
- Analisis
- Manipulasi
- Pembersihan Data

Struktur data Pandas:
- DataFrame
- Series
- Panel (Deprecated)

#### Import Library

In [1]:
import pandas as pd

### 1. Series

- Data yang berbentuk hanya 1 kolom

In [2]:
pd.Series(data = [100, 200, 150, 230])

0    100
1    200
2    150
3    230
dtype: int64

In [3]:
pd.Series(data = [3000, 2300, 1500],
         index = ["Nanas", "Jambu", "Apel"],
         name = "Harga Buah")

Nanas    3000
Jambu    2300
Apel     1500
Name: Harga Buah, dtype: int64

### 2. DataFrame

#### Membuat DataFrame sederhana

- DataFrame merupakan sebuah tabel yang terdiri dari kolom dan baris

In [4]:
pd.DataFrame(data={"Minuman": ["Kopi", "Anggur Merah"],
                  "Harga": [15000, 23000]})

# data -> parameter
# value - dictionary - list
# indeks by default

        Minuman  Harga
0          Kopi  15000
1  Anggur Merah  23000

In [5]:
pd.DataFrame(data={"Harga": [20000, 35500],
                  "Diskon": [1000, 1500],
                  "Kondisi": ["baru", "bekas"]},
            index= ["Kalung", "Gelang"])

# membuat index

        Harga  Diskon Kondisi
Kalung  20000    1000    baru
Gelang  35500    1500   bekas

### Load Dataset

In [6]:
wine_df = pd.read_csv("wine_data.csv")

In [7]:
wine_df.head()

# head - akan menampilkan 5 data (by default)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

#### Melihat baris dan kolom

In [8]:
wine_df.shape

(129971, 14)

In [9]:
print(f"Ada {wine_df.shape[0]} baris dan {wine_df.shape[1]} kolom ")

Ada 129971 baris dan 14 kolom

### Load dataset menggunakan index

In [10]:
wine_df1 = pd.read_csv("wine_data.csv", index_col = 0)

# membuat kolom 0 menjadi index

In [11]:
wine_df1.shape

(129971, 13)

### Menyimpan DataFrame ke dalam file csv

In [12]:
makanan_df = pd.DataFrame(data = {"makanan": ["rujak", "cilok"],
                                 "harga": [7000, 5000]})

In [13]:
makanan_df

  makanan  harga
0   rujak   7000
1   cilok   5000

In [14]:
makanan_df.to_csv("makanan_sample_dataset.csv")

In [15]:
makanan_df.to_csv("makanan_sample_dataset_noindex.csv", index = False)

### Melakukan Akses ke dalam DataFrame

In [16]:
wine_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

#### Cara 1: Sebagai Atribut

In [17]:
wine_df.country

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

#### Cara 2: Sebagai Dictionary Index

In [18]:
wine_df["province"]

0         Sicily & Sardinia
1                     Douro
2                    Oregon
3                  Michigan
4                    Oregon
                ...
129966                Mosel
129967               Oregon
129968               Alsace
129969               Alsace
129970               Alsace
Name: province, Length: 129971, dtype: object

In [19]:
wine_df["province"][3]

# akses spesifik
# akses di kolom province dan index ke 3

'Michigan'

### Melakukan akses data pada DataFrame

- Ada 2 cara:
    1. index-based selection
    2. label-based selection
- Kedua mekanisme tsb mendahulukan baris (row) lalu diikuti kolom (column)

#### 1. index-based selection

- Mekanisme ini dilakukan dengan memanfaatkan atribut iloc

In [20]:
wine_df.iloc[0]

Unnamed: 0                                                               0
country                                                              Italy
description              Aromas include tropical fruit, broom, brimston...
designation                                                   Vulkà Bianco
points                                                                  87
price                                                                  NaN
province                                                 Sicily & Sardinia
region_1                                                              Etna
region_2                                                               NaN
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                                    Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                        White Blend
winery                                                             Nicosia
Name: 0, dtype: object

In [26]:
wine_df.iloc[3, 1]

# wine_df.iloc[baris, kolom]

'US'

#### Slicing pada iloc

In [31]:
wine_df.iloc[:, 1]

# seluruh baris dan kolom index 1

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [33]:
wine_df.iloc[1, :3]

# baris ke 1 dan kolom dari (0 sampai (3-1))

Unnamed: 0                                                     1
country                                                 Portugal
description    This is ripe and fruity, a wine that is smooth...
Name: 1, dtype: object

In [35]:
wine_df.iloc[1:3, 1]

# baris 1-(3-1) dan kolom index 1

1    Portugal
2          US
Name: country, dtype: object

#### Melewatkan list untuk melakukan akses data pada baris dan kolom tertentu dari DataFrame

In [37]:
wine_df.iloc[[0,2,7], 1]

0     Italy
2        US
7    France
Name: country, dtype: object

#### Menggunakan negatif indeks untuk melakukan akses data pada baris dan kolom tertentu pada DataFrame

In [39]:
wine_df.iloc[-5:]

# mengambil 5 baris terakhir

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
129966,129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

#### 2. label-based selection

- Mekanisme ini memanfaatkan atribut loc

In [41]:
wine_df.loc[0, "country"]

# baris ke 0 dan kolom bisa diganti nama kolom

'Italy'

In [42]:
wine_df.loc[:5, "country"]

0       Italy
1    Portugal
2          US
3          US
4          US
5       Spain
Name: country, dtype: object

In [43]:
wine_df.loc[:, ["province", "price"]].head()

            province  price
0  Sicily & Sardinia    NaN
1              Douro   15.0
2             Oregon   14.0
3           Michigan   13.0
4             Oregon   65.0

#### Alternatif lain

- **Alternatif lain bisa menggunakan akses kolom-baris (column - row)**

In [45]:
wine_df[["country", "province"]][:].head()

# kolom - baris

    country           province
0     Italy  Sicily & Sardinia
1  Portugal              Douro
2        US             Oregon
3        US           Michigan
4        US             Oregon

In [48]:
wine_df[["province", "points"]][:4]

            province  points
0  Sicily & Sardinia      87
1              Douro      87
2             Oregon      87
3           Michigan      87

### Mengganti index

In [51]:
wine_dfx = wine_df.set_index("title")

# wine_df.set_index("title", inplace = True)

In [52]:
wine_dfx.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,variety,winery
title,,,,,,,,,,,,,
Nicosia 2013 Vulkà Bianco (Etna),0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,White Blend,Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro),1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Portuguese Red,Quinta dos Avidagos
Rainstorm 2013 Pinot Gris (Willamette Valley),2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Gris,Rainstorm
St. Julian 2013 Reserve Late Harvest Riesling (Lake Michigan Shore),3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,Riesling,St. Julian
Sweet Cheeks 2012 Vintner's Reserve Wild Child Block Pinot Noir (Willamette Valley),4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Noir,Sweet Cheeks

#### reset index

In [53]:
# wine_df.reset_index()

# reset index

### Seleksi data pada DataFrame

- **Conditional Selection**

In [55]:
wine_df["country"] == "Italy"

# menampilka seluruh data
# True - sesuai
# False - tidak sesuai

0          True
1         False
2         False
3         False
4         False
          ...
129966    False
129967    False
129968    False
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

In [56]:
wine_df.loc[wine_df["country"] == "Italy"].head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
13,13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte
22,22,Italy,Delicate aromas recall white flower and citrus...,Ficiligno,87,19.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Baglio di Pianetto 2007 Ficiligno White (Sicilia),White Blend,Baglio di Pianetto
24,24,Italy,"Aromas of prune, blackcurrant, toast and oak c...",Aynat,87,35.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Canicattì 2009 Aynat Nero d'Avola (Sicilia),Nero d'Avola,Canicattì

In [62]:
wine_df.loc[(wine_df["country"] == "Italy") & (wine_df["points"] >= 90)].head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
120,120,Italy,"Slightly backward, particularly given the vint...",Bricco Rocche Prapó,92,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Prapó (Barolo),Nebbiolo,Ceretto
130,130,Italy,"At the first it was quite muted and subdued, b...",Bricco Rocche Brunate,91,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Brunate (Barolo),Nebbiolo,Ceretto
133,133,Italy,"Einaudi's wines have been improving lately, an...",NaN,91,68.0,Piedmont,Barolo,NaN,NaN,NaN,Poderi Luigi Einaudi 2003 Barolo,Nebbiolo,Poderi Luigi Einaudi
135,135,Italy,The color is just beginning to show signs of b...,Sorano,91,60.0,Piedmont,Barolo,NaN,NaN,NaN,Giacomo Ascheri 2001 Sorano (Barolo),Nebbiolo,Giacomo Ascheri
140,140,Italy,"A big, fat, luscious wine with plenty of toast...",Costa Bruna,90,26.0,Piedmont,Barbera d'Alba,NaN,NaN,NaN,Poderi Colla 2005 Costa Bruna (Barbera d'Alba),Barbera,Poderi Colla

### Beberapa Built-in Method

#### Method isin

In [63]:
wine_df.loc[wine_df["country"].isin(["Italy", "France"])].head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
7,7,France,This dry and restrained wine offers spice in p...,NaN,87,24.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach
9,9,France,This has great depth of flavor with its fresh ...,Les Natures,87,27.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,Jean-Baptiste Adam
11,11,France,"This is a dry wine, very spicy, with a tight, ...",NaN,87,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Leon Beyer 2012 Gewurztraminer (Alsace),Gewürztraminer,Leon Beyer

#### Method isna & notna

In [65]:
wine_df[wine_df["price"].isna()].head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
13,13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte
30,30,France,Red cherry fruit comes laced with light tannin...,Nouveau,86,NaN,Beaujolais,Beaujolais-Villages,NaN,Roger Voss,@vossroger,Domaine de la Madone 2012 Nouveau (Beaujolais...,Gamay,Domaine de la Madone
31,31,Italy,Merlot and Nero d'Avola form the base for this...,Calanìca Nero d'Avola-Merlot,86,NaN,Sicily & Sardinia,Sicilia,NaN,NaN,NaN,Duca di Salaparuta 2010 Calanìca Nero d'Avola-...,Red Blend,Duca di Salaparuta
32,32,Italy,"Part of the extended Calanìca series, this Gri...",Calanìca Grillo-Viognier,86,NaN,Sicily & Sardinia,Sicilia,NaN,NaN,NaN,Duca di Salaparuta 2011 Calanìca Grillo-Viogni...,White Blend,Duca di Salaparuta

In [69]:
wine_df["price"].isna().value_counts()

False    120975
True       8996
Name: price, dtype: int64

In [70]:
wine_df[wine_df["price"].notna()].head()

# menghasilkan data dengan syarat value pada kolom price tidak kosong (terisi)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem

### Menambah kolom baru pada DataFrame

In [71]:
wine_df.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [72]:
wine_df["critic"] = "everyone"  # membuat kolom baru
wine_df["critic"].head()

0    everyone
1    everyone
2    everyone
3    everyone
4    everyone
Name: critic, dtype: object

In [73]:
wine_df.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery', 'critic'],
      dtype='object')

In [76]:
wine_df["index_backwards"] = range(len(wine_df), 0, -1)
wine_df["index_backwards"].head()

0    129971
1    129970
2    129969
3    129968
4    129967
Name: index_backwards, dtype: int32

### Ringkasan (Describe) pada DataFrame

In [77]:
wine_df.describe()

# hanya menampilkan data numeric

          Unnamed: 0         points          price  index_backwards
count  129971.000000  129971.000000  120975.000000    129971.000000
mean    64985.000000      88.447138      35.363389     64986.000000
std     37519.540256       3.039730      41.022218     37519.540256
min         0.000000      80.000000       4.000000         1.000000
25%     32492.500000      86.000000      17.000000     32493.500000
50%     64985.000000      88.000000      25.000000     64986.000000
75%     97477.500000      91.000000      42.000000     97478.500000
max    129970.000000     100.000000    3300.000000    129971.000000

In [79]:
wine_df["price"].describe() # numerik

count    120975.000000
mean         35.363389
std          41.022218
min           4.000000
25%          17.000000
50%          25.000000
75%          42.000000
max        3300.000000
Name: price, dtype: float64

In [80]:
wine_df["price"].mean()

35.363389129985535

In [81]:
wine_df["taster_name"].describe() # kategori

count         103727
unique            19
top       Roger Voss
freq           25514
Name: taster_name, dtype: object

In [82]:
wine_df["taster_name"].unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

In [83]:
wine_df["taster_name"].value_counts()

Roger Voss            25514
Michael Schachner     15134
Kerin O’Keefe         10776
Virginie Boone         9537
Paul Gregutt           9532
Matt Kettmann          6332
Joe Czerwinski         5147
Sean P. Sullivan       4966
Anna Lee C. Iijima     4415
Jim Gordon             4177
Anne Krebiehl MW       3685
Lauren Buzzeo          1835
Susan Kostrzewa        1085
Mike DeSimone           514
Jeff Jenssen            491
Alexander Peartree      415
Carrie Dykes            139
Fiona Adams              27
Christina Pickard         6
Name: taster_name, dtype: int64

### Mapping

- **Mapping bisa di eksekusi dengan method map dan apply**